<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Archetype Created Web Application</display-name>
 <!--省份-->
  <servlet>
    <servlet-name>province</servlet-name>
    <servlet-class>com.shen.threelevellinkage.ProvinceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>province</servlet-name>
    <url-pattern>/provinces</url-pattern>
  </servlet-mapping>

  <!--区-->
  <servlet>
    <servlet-name>city</servlet-name>
    <servlet-class>com.shen.threelevellinkage.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>city</servlet-name>
    <url-pattern>/citys</url-pattern>
  </servlet-mapping>
  <!--城市-->
  <servlet>
    <servlet-name>district</servlet-name>
    <servlet-class>com.shen.threelevellinkage.DistrictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>district</servlet-name>
    <url-pattern>/districts</url-pattern>
  </servlet-mapping>
</web-app>
